name: Deploy to ec2

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: production
    steps:
        - uses: actions/checkout@v6

          name: Set up Node
        - uses: actions/setup-node@v6
          with:
            node-version: '20'
            cache: 'npm'

        - name: Install dependencies
          run: npm ci

        - name: Package application
          run: |
            tar --exclude=node_modules --exclude=.git --exclude=.env \
            -czf /tmp/app.tgz .

            mv /tmp/app.tgz ./app.tgz

        - name: upload package
          uses: appleboy/scp-action@v1
          with:
            host: ${{ secrets.EC2_IP }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_KEY }}
            port: ${{ secrets.EC2_PORT }}
            source: "app.tgz"
            target: "/tmp"
        
        - name: Deploy on server and restart service
          uses: appleboy/ssh-action@v1.2.5
          with:
            host: ${{ secrets.EC2_IP }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_KEY }}
            port: ${{ secrets.EC2_PORT }}
            script: |
                set -e

                #new release folder
                RELEASE_DIR="/var/www/myapp-$(date +%s)"
                sudo mkdir -p $RELEASE_DIR
                sudo chown ubuntu:ubuntu $RELEASE_DIR

                # extract to new directiory
                tar -xzf /tmp/app.tgz -C $RELEASE_DIR
                cd $RELEASE_DIR
                npm ci --omit=dev

                # stop service, change directories and restart
                sudo systemctl stop myapp
                sudo rm -rf /var/www/myapp-old
                sudo mv /var/www/myapp /var/www/myapp-old || true
                sudo mv $RELEASE_DIR /var/www/myapp
                sudo systemctl start myapp
                sudo systemctl is-active --quiet myapp

                # cleanup
                rm /tmp/app.tgz
                sudo rm -rf /var/www/myapp-old