name: Deploy to ec2

on:
    push:
        branches:
        - main
    workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
        - uses: actions/checkout@v6

          name: Set up Node
        - uses: actions/setup-node@v6
          with:
            node-version: '20'
            cache: 'npm'

        - name: Install dependencies
          run: npm ci

        - name: Package application
          run: |
<<<<<<< Updated upstream
            tar \
            --warning=no-file-changed \
            --exclude=node_modules \
            --exclude=.git \
            --exclude=.env \
=======
            tar --exclude=node_modules --exclude=.git --exclude=.env \
            --exclude=app.tgz \
>>>>>>> Stashed changes
            -czf app.tgz .

        - name: upload package
          uses: appleboy/scp-action@v1
          with:
            host: ${{ secrets.EC2_IP }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_KEY }}
            port: ${{ secrets.EC2_PORT }}
            source: "app.tgz"
            target: "/tmp"
        
        - name: Deploy on server and restart service
          uses: appleboy/ssh-action@v1.2.5
          with:
            host: ${{ secrets.EC2_IP }}
            username: ${{ secrets.EC2_USER }}
            key: ${{ secrets.SSH_KEY }}
            port: ${{ secrets.EC2_PORT }}
            script: |
                set -e
                sudo mkdir -p /var/www/myapp
                sudo chown ubuntu:ubuntu /var/www/myapp
                tar -xzf /tmp/app.tgz -C /var/www/myapp
                cd /var/www/myapp
                npm ci --omit=dev
                sudo systemctl restart myapp
                sudo systemctl is-active --quiet myapp
                rm /tmp/app.tgz